<div>
  <h2>Accessory List</h2>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Accessory</th>
        <th>Brand</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let accessory of accessoryList">
        <td>{{ accessory.id }}</td>
        <td>{{ accessory.accessory }}</td>
        <td>{{ accessory.brand }}</td>
        <td>{{ accessory.price }}</td>
      </tr>
    </tbody>
  </table>

  <br>
  <h3>Add Accessory</h3>
  <form (ngSubmit)="addAccessory()">
    <div>
      <label for="id">Id:</label>
      <input type="text" [(ngModel)]="id" name="id" required />
    </div>
    <div>
      <label for="accessory">Accessory:</label>
      <input type="text" [(ngModel)]="accessory" name="accessory" required />
    </div>
    <div>
      <label for="brand">Brand:</label>
      <input type="text" [(ngModel)]="brand" name="brand" required />
    </div>
    <div>
      <label for="price">Price:</label>
      <input type="number" [(ngModel)]="price" name="price" required />
    </div>
    <button type="submit">Add Accessory</button>
  </form>
</div>
