<div>
  <h2>Course List</h2>
  
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Course</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.id }}</td>
        <td>{{ course.courseName }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h3>Add Course</h3>
  <form (ngSubmit)="addCourse()">
    <div>
      <label for="id">Id:</label>
      <input type="text" [(ngModel)]="id" name="id"/>
    </div>
    <div>
      <label for="coursename">Course Name:</label>
      <input type="text" [(ngModel)]="courseName" name="coursename"/>
    </div>
    <button type="submit">Add Course</button>
  </form>
</div>
