<a routerLink="studentlist" type="button" class="btn btn-primary">Student List</a>
<a routerLink="employeelist" type="button" class="btn btn-primary">Employee List</a>
<a routerLink="fruitlist" type="button" class="btn btn-primary">Fruit List</a>
<a routerLink="booklist" type="button" class="btn btn-primary">Book List</a>
<a routerLink="courselist" type="button" class="btn btn-primary">Course List</a>
<a routerLink="citylist" type="button" class="btn btn-primary">City List</a>
<a routerLink="movielist" type="button" class="btn btn-primary">Movie List</a>
<a routerLink="carmodellist" type="button" class="btn btn-primary">Car Model List</a>
<a routerLink="productlist" type="button" class="btn btn-primary">Product List</a>
<a routerLink="subjectlist" type="button" class="btn btn-primary">Subject List</a>

<a routerLink="countrylist" type="button" class="btn btn-primary">Country List</a>
<a routerLink="sportlist" type="button" class="btn btn-primary">Sports List</a>
<a routerLink="vegetablelist" type="button" class="btn btn-primary">Vegetable List</a>
<a routerLink="animallist" type="button" class="btn btn-primary">Animal List</a>
<a routerLink="toollist" type="button" class="btn btn-primary">Tool List</a>
<a routerLink="languagelist" type="button" class="btn btn-primary">Language List</a>
<a routerLink="gamelist" type="button" class="btn btn-primary">Game List</a>
<a routerLink="softwarelist" type="button" class="btn btn-primary">Software List</a>
<a routerLink="phonecontactlist" type="button" class="btn btn-primary">Phone Contact List</a>
<a routerLink="musicplaylist" type="button" class="btn btn-primary">Music Playlist</a>

<a routerLink="foodmenu" type="button" class="btn btn-primary">Food Menu</a>
<a routerLink="grocerylist" type="button" class="btn btn-primary">Grocery List</a>
<a routerLink="classroomlist" type="button" class="btn btn-primary">Classroom List</a>
<a routerLink="inventorylist" type="button" class="btn btn-primary">Inventory List</a>
<a routerLink="lecturelist" type="button" class="btn btn-primary">Lecture List</a>
<a routerLink="stationerylist" type="button" class="btn btn-primary">Stationery List</a>
<a routerLink="flowerlist" type="button" class="btn btn-primary">Flower List</a>
<a routerLink="destinationlist" type="button" class="btn btn-primary">Destination List</a>
<a routerLink="laptoplist" type="button" class="btn btn-primary">Laptop List</a>
<a routerLink="laptopspecificationslist" type="button" class="btn btn-primary">Laptop Specifications List</a>

<a routerLink="computerhardwarelist" type="button" class="btn btn-primary">Computer Hardware List</a>
<a routerLink="mobileapplist" type="button" class="btn btn-primary">Mobile App List</a>
<a routerLink="videolist" type="button" class="btn btn-primary">Video List</a>
<a routerLink="tvshowlist" type="button" class="btn btn-primary">TV Show List</a>
<a routerLink="furniturelist" type="button" class="btn btn-primary">Furniture List</a>
<a routerLink="accessorylist" type="button" class="btn btn-primary">Accessory List</a>
<a routerLink="buildinglist" type="button" class="btn btn-primary">Building List</a>
<a routerLink="paintinglist" type="button" class="btn btn-primary">Painting List</a>
<a routerLink="artistlist" type="button" class="btn btn-primary">Artist List</a>
<a routerLink="composerlist" type="button" class="btn btn-primary">Composer List</a>

<a routerLink="podcastlist" type="button" class="btn btn-primary">Podcast List</a>
<a routerLink="exerciselist" type="button" class="btn btn-primary">Exercise List</a>
<a routerLink="mealplanlist" type="button" class="btn btn-primary">Meal PLan List</a>
<a routerLink="budgetlist" type="button" class="btn btn-primary">Budget List</a>
<a routerLink="presentationlist" type="button" class="btn btn-primary">Presentation List</a>
<a routerLink="tourlist" type="button" class="btn btn-primary">Tour List</a>
<a routerLink="eventlist" type="button" class="btn btn-primary">Event List</a>
<a routerLink="developertoolslist" type="button" class="btn btn-primary">Developer List</a>
<a routerLink="frameworklist" type="button" class="btn btn-primary">Framework List</a>
<a routerLink="librarylist" type="button" class="btn btn-primary">Library List</a>

<br>
<br>
<br>
<router-outlet></router-outlet>