<div>
  <h2>Employee List</h2>
  
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Job</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employee">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.job }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h3>Add Employee</h3>
  <form (ngSubmit)="addEmployee()">
    <div>
      <label for="id">Id:</label>
      <input type="text" [(ngModel)]="id" name="id"/>
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" [(ngModel)]="name" name="name"/>
    </div>
    <div>
      <label for="job">Job:</label>
      <input type="text" [(ngModel)]="job" name="job"/>
    </div>
    <button type="submit">Add Employee</button>
  </form>
</div>
